$accent: #21595A;
$light: #fff;
$dark: #151515;

$header-font: 'Roboto Condensed', sans-serif;


.page-header {
	background-color: #FEF0D5;
	padding-top: 15px;
	font-family: $header-font;

	.header-wrapper {
		margin: 0 auto;
		max-width: 1160px;
	}
}


.header-wrapper {
	padding-bottom: 20px;
	display: flex;
	align-items: center;

	.save-social {
		margin-left: auto;

		.save-button {			
			margin-bottom: 13px;
		}

		.social-icons {
			text-align: center;
		}
	}
}


.logo-image {
	.image {
		max-height: 100px;
	}
}


.logo-text {
	.header {
		color: $accent;
		margin: 0px 0 5px 15px;
	}

	.slogan {
		color: $accent;
		margin: 5px 0 5px 15px;
	}
}


.simplebutton {
	background-color: #DB1D5B;
	color: $light;
	border: none;
	padding: 5px 23px;
	border-radius: 15px;
	cursor: pointer;
}




.simplebutton:focus {
	outline: none;
}


.page-content {
	.content-wrapper {
		margin: 0 auto;
		max-width: 1160px;
	}
}


.content-wrapper {
	font-family: $header-font;
}


.active-color-selector {
	.title {
		margin-top: 22px;
		margin-bottom: 5px;
	}
}


.selector {
	cursor: pointer;
	border: 1px solid #93B6EE;
	border-radius: 3px;
	padding: 1px 3px;
	
	option[value="red"] {
		background-color: red;
		color: $light;
	}
	option[value="blue"] {
		background-color: blue;
		color: $light;
	}
	option[value="yellow"] {
		background-color: yellow;
		color: $dark;
	}
	option[value="green"] {
		background-color: green;
		color: $light;
	}
	option[value="grey"] {
		background-color: grey;
		color: $light;
	}
}