.page-header {
  background-color: #FEF0D5;
  padding-top: 15px;
  font-family: "Roboto Condensed", sans-serif; }
  .page-header .header-wrapper {
    margin: 0 auto;
    max-width: 1160px; }

.header-wrapper {
  padding-bottom: 20px;
  display: flex;
  align-items: center; }
  .header-wrapper .save-social {
    margin-left: auto; }
    .header-wrapper .save-social .save-button {
      margin-bottom: 13px; }
    .header-wrapper .save-social .social-icons {
      text-align: center; }

.logo-image .image {
  max-height: 100px; }

.logo-text .header {
  color: #21595A;
  margin: 0px 0 5px 15px; }
.logo-text .slogan {
  color: #21595A;
  margin: 5px 0 5px 15px; }

.simplebutton {
  background-color: #DB1D5B;
  color: #fff;
  border: none;
  padding: 5px 23px;
  border-radius: 15px;
  cursor: pointer; }

.simplebutton:focus {
  outline: none; }

.page-content .content-wrapper {
  margin: 0 auto;
  max-width: 1160px; }

.content-wrapper {
  font-family: "Roboto Condensed", sans-serif; }

.active-color-selector .title {
  margin-top: 22px;
  margin-bottom: 5px; }

.selector {
  cursor: pointer;
  border: 1px solid #93B6EE;
  border-radius: 3px;
  padding: 1px 3px; }
  .selector option[value="red"] {
    background-color: red;
    color: #fff; }
  .selector option[value="blue"] {
    background-color: blue;
    color: #fff; }
  .selector option[value="yellow"] {
    background-color: yellow;
    color: #151515; }
  .selector option[value="green"] {
    background-color: green;
    color: #fff; }
  .selector option[value="grey"] {
    background-color: grey;
    color: #fff; }

/*# sourceMappingURL=styles.css.map */
