.main-header {
	text-align: center;
}


/* Стилизация таблицы-календаря */
.calendar-header {
	font-size: 40px;
	margin: 28px 20px;
}


.table-selectors,
.table-calendar {
	border-collapse: collapse;
	font-family: "Arial", Sans-serif;
	margin-left: 20px;
}


.table-calendar {
	border: 1px solid #d7d7d7;
	color: #202020;
	font-size: 20px;
	text-align: center;
}


.table-calendar th {
	padding: 30px 15px;
}


.table-calendar td {
	padding: 24px 15px;
}


.active {
	background-color: #b571fc;
	color: #fff;
}


.table-calendar th {
	font-weight: normal;	
	color: #d7d7d7;
}


.table-calendar th:last-child, .table-calendar td:last-child {
	color: #884e5a;
}


.table-calendar tr:hover {
	background-color: #ece9f0;
}


.table-calendar td:hover {
	background-color: #cecbd1;
	color: #fff;
	cursor: pointer;
}


.nextmonth {
	color: #d7d7d7;
}


/* Стилизация таблицы с селекторами */
.selectors-header {
	font-size: 30px;
	padding-left: 20px;
}


.table-selectors th {
	font-weight: bold;
}


.table-selectors td {
	border: 1px solid #4c40ea;
	padding: 3px;
	text-align: left;	
}