.main-page {
  font-family: "Roboto Condensed", sans-serif; }

.wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto; }

.header-layout {
  background-color: #fef0d5;
  color: #1c5b60; }
.header-layout .wrapper {
  padding: 20px 0 20px 0; }
  .header-layout .wrapper .logo {
    margin-right: 20px; }
    .header-layout .wrapper .logo .logotype {
      max-height: 100px; }
  .header-layout .wrapper .save-social {
    margin-left: auto;
    text-align: center; }
    .header-layout .wrapper .save-social .savebutton {
      margin-bottom: 9px; }
.header-layout .title {
  margin: 0; }
.header-layout .slogan {
  margin: 0; }

._container {
  max-width: 1160px; }

.savebutton {
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  background-color: #e31b63;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 18px;
  padding: 5px 9px; }
.savebutton:hover {
  background-color: #e94882; }

.color-selector-layout {
  font-family: "Arial", sans-serif;
  padding: 13px 0; }
.color-selector-layout .title {
  margin-bottom: 5px; }

.dropdown {
  padding: 4px 4px;
  border: 1px solid grey;
  border-radius: 3px;
  cursor: pointer; }

.dropdown option[value="red"] {
  background-color: red;
  color: #fff; }

.dropdown option[value="blue"] {
  background-color: blue;
  color: #fff; }

.dropdown option[value="yellow"] {
  background-color: yellow;
  color: #151515; }

.dropdown option[value="green"] {
  background-color: green;
  color: #fff; }

.dropdown option[value="grey"] {
  background-color: grey;
  color: #fff; }

.calendars-selector {
  /*	& .wrapper {
  		justify-content: center;
  	} */ }
  .calendars-selector {
    margin-top: 17px; }
  .calendars-selector .wrapper {
    display: block;
    float: left;
    padding-left: 170px; }
  .calendars-selector .container-calendars {
    display: flex;
    justify-content: center; }
  .calendars-selector .addmonth {
    margin: 0 6px; }

.addmonth {
  font-size: 30px;
  color: #1A5E68; }
.addmonth:hover {
  color: #8dadb0;
  cursor: pointer; }

.section-month {
  margin: 0 7px; }
.section-month .month-selector {
  text-align: center; }
.section-month .month-selector .addmonth {
  display: none; }
.section-month .month-selector .title {
  display: inline-block;
  font-size: 30px;
  margin: 0; }
.section-month .month-selector:hover .addmonth {
  display: inline-block; }
.section-month .calendar {
  margin: 10px 9px;
  font-family: "Arial", sans-serif; }

.calendar {
  border: 1px solid #385251;
  border-radius: 10px;
  text-align: center;
  padding: 2px 10px 14px 10px; }
.calendar .daysofweek {
  color: #c8c9cb; }
  .calendar .daysofweek :last-child {
    color: #d66a77; }
.calendar .days {
  color: #4d4b4e; }
  .calendar .days :last-child {
    color: #d66a77; }
  .calendar .days :hover {
    background-color: #e31b63;
    color: #fff; }
  .calendar .days .day {
    cursor: pointer; }
.calendar .day {
  padding: 13px 7px 13px 7px; }

/*# sourceMappingURL=style.css.map */
