$font-main: 'Roboto Condensed', sans-serif;
$font-arial: 'Arial', sans-serif;

$color-dark: #4d4b4e;
$color-light: #fff;
$color-calendar-red: #d66a77;
$color-button: #e31b63;
$color-plus: #1A5E68;


.main-page {
	font-family: $font-main;
}


.wrapper {
	display: flex;
	align-items: center;
	margin: 0 auto;
}


.header-layout {
	& {
		background-color: #fef0d5;
		color: #1c5b60;
	}

	& .wrapper {
		padding: 20px 0 20px 0;
		& .logo {
			margin-right: 20px;
			& .logotype {
				max-height: 100px;
			}
		}

		& .save-social {
			margin-left: auto;
			text-align: center;			
			& .savebutton {
				margin-bottom: 9px;
			}
		}
	}

	& .title {
		margin: 0;
	}

	& .slogan {
		margin: 0;
	}
}


._container {
	& { 
		max-width: 1160px;
	}
}


.savebutton {
	& {
		font-family: 'Arial', sans-serif;
		font-size: 15px;
		background-color: $color-button;
		color: $color-light;
		cursor: pointer;
		border: none;
		border-radius: 18px;
		padding: 5px 9px;
	}

	&:hover {
		background-color: lighten($color-button, 10);
	}
}


.color-selector-layout {
	& {
		font-family: $font-arial;
		padding: 13px 0;
	}
	
	& .title {
		margin-bottom: 5px;
	}
}

.dropdown {
	padding: 4px 4px;
	border: 1px solid grey;
	border-radius: 3px;
	cursor: pointer;
}

.dropdown option[value="red"] {
  background-color: red;
  color: #fff; }
.dropdown option[value="blue"] {
  background-color: blue;
  color: #fff; }
.dropdown option[value="yellow"] {
  background-color: yellow;
  color: #151515; }
.dropdown option[value="green"] {
  background-color: green;
  color: #fff; }
.dropdown option[value="grey"] {
  background-color: grey;
  color: #fff; }


.calendars-selector {
	& {
		margin-top: 17px;
	}
	& .wrapper {
		display: block;
		float: left;
		padding-left: 170px;
	}
/*	& .wrapper {
		justify-content: center;
	} */
	& .container-calendars {
		display: flex;
		justify-content: center;
	}

	& .addmonth {
		margin: 0 6px;
	}
}


.addmonth {
	& {
		font-size: 30px;
		color: $color-plus;
	}
	&:hover {
		color: #8dadb0;
		cursor: pointer;
	}
}


.section-month {
	& {
		margin: 0 7px;
	}
	& .month-selector {
		& {
			text-align: center;
		}
		& .addmonth {
			display: none;
		}

		& .title {
			display: inline-block;
			font-size: 30px;
			margin: 0;			
		}
		&:hover .addmonth {
			display: inline-block;			
		}
	}

	& .calendar {
		margin: 10px 9px;
		font-family: $font-arial;
	}
}


.calendar {
	& {
		border: 1px solid #385251;
		border-radius: 10px;
		text-align: center;
		padding: 2px 10px 14px 10px;
	}

	& .daysofweek {
		color: #c8c9cb;

		& :last-child {
			color: $color-calendar-red;
		}
	}

	& .days {
		color: $color-dark;

		& :last-child {
			color: $color-calendar-red;
		}
	
		& :hover {
			background-color: $color-button;
			color: $color-light;
		}

		& .day {
			cursor: pointer;
		}
	}

	& .day {
		padding: 13px 7px 13px 7px;		
	}
}