.addmonth {
  font-size: 30px;
  color: #1a5e68; }
  .addmonth:hover {
    color: #8dadb0;
    cursor: pointer; }

.blur {
  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px); }

.body-layout {
  background: white;
  z-index: 500; }

.calendar {
  border: 1px solid #385251;
  border-radius: 10px;
  text-align: center;
  padding: 2px 10px 14px 10px; }
  .calendar .daysofweek {
    color: #b3b1b4; }
    .calendar .daysofweek :last-child {
      color: #d66a77; }
  .calendar .days {
    color: #4d4b4e; }
    .calendar .days :last-child {
      color: #d66a77; }
    .calendar .days :hover {
      background-color: #fdf0d2; }
    .calendar .days .day {
      cursor: pointer; }
    .calendar .days .nextmonth {
      color: #b3b1b4; }
  .calendar .day {
    padding: 13px 7px 13px 7px; }

.calendars-selector {
  margin-top: 17px; }
  .calendars-selector .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .calendars-selector .addmonth {
    margin: 0 6px; }

.color-selector-layout {
  font-family: "Arial", sans-serif;
  padding: 13px 0; }
  .color-selector-layout .title {
    margin-bottom: 5px; }

._container {
  max-width: 1160px; }

.dropdown {
  padding: 4px 4px;
  border: 1px solid grey;
  border-radius: 3px;
  cursor: pointer; }

.dropdown option[value="red"] {
  background-color: red;
  color: #fff; }

.dropdown option[value="blue"] {
  background-color: blue;
  color: #fff; }

.dropdown option[value="yellow"] {
  background-color: yellow;
  color: #151515; }

.dropdown option[value="green"] {
  background-color: green;
  color: #fff; }

.dropdown option[value="grey"] {
  background-color: grey;
  color: #fff; }

.header-layout {
  background-color: #fdf0d2;
  color: #1c5b60; }
  .header-layout .wrapper {
    padding: 20px 0 20px 0; }
    .header-layout .wrapper .logo {
      margin-right: 20px; }
      .header-layout .wrapper .logo .logotype {
        max-height: 100px; }
    .header-layout .wrapper .save-social {
      margin-left: auto;
      text-align: center; }
      .header-layout .wrapper .save-social .savebutton {
        margin-bottom: 9px; }
  .header-layout .title {
    margin: 0; }
  .header-layout .slogan {
    margin: 0; }

.linkplace {
  background-color: #fff;
  border: 1px solid #c7c7c7;
  box-shadow: 1px 1px 0px 0px #c7c7c7 inset;
  font-size: 16px;
  font-family: "Arial", sans-serif; }

.main-page {
  font-family: "Roboto Condensed", sans-serif; }
  .main-page .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%); }

.popup {
  box-shadow: 0px 5px 40px 10px #c7c7c7;
  background-color: #fdf0d2;
  text-align: center;
  z-index: 501; }
  .popup .title {
    font-weight: 100;
    font-size: 25px;
    line-height: 1.80;
    margin-top: 27px;
    margin-bottom: 16px; }
  .popup .text {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 0; }
  .popup .linkplace {
    margin: 10px 20px;
    padding: 5px 0; }
  .popup .savebutton {
    margin: 20px 0 30px 0;
    padding: 5px 40px;
    border-radius: 5px;
    font-size: 20px; }

.savebutton {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  background-color: #f45c67;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 18px;
  padding: 5px 9px; }
  .savebutton:hover {
    background-color: #d91e59; }

.section-month {
  margin-right: 31px; }
  .section-month .month-selector {
    text-align: center; }
    .section-month .month-selector .addmonth {
      display: none; }
    .section-month .month-selector .title {
      display: inline-block;
      font-size: 30px;
      margin: 0; }
    .section-month .month-selector:hover .addmonth {
      display: inline-block; }
  .section-month .calendar {
    margin: 10px 0 35px 0;
    font-family: "Arial", sans-serif; }

.wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
