$font-main: 'Roboto Condensed', sans-serif;
$font-arial: 'Arial', sans-serif;

$color-bg-light: #fdf0d2;
$color-dark: #4d4b4e;
$color-light: #fff;
$color-calendar-red: #d66a77;
$color-button: #f45c67;
$color-button-dark: #d91e59;
$color-plus: #1a5e68;


.addmonth {
	font-size: 30px;
	color: $color-plus;
	&:hover {
		color: #8dadb0;
		cursor: pointer;
	}
}


.blur {
	filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	-moz-filter: blur(4px);
	-webkit-filter: blur(4px);
}


.body-layout {
	background: white;
	z-index: 500;
}


.calendar {
	border: 1px solid #385251;
	border-radius: 10px;
	text-align: center;
	padding: 2px 10px 14px 10px;
	
	.daysofweek {
		color: lighten($color-dark, 40);

		& :last-child {
			color: $color-calendar-red;
		}
	}

	.days {
		color: $color-dark;

		& :last-child {
			color: $color-calendar-red;
		}
	
		& :hover {
			background-color: $color-bg-light;
		}

		.day {
			cursor: pointer;
		}

		.nextmonth {
			color: lighten($color-dark, 40);
		}
	}

	.day {
		padding: 13px 7px 13px 7px;		
	}
}


.calendars-selector {
	margin-top: 17px;
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.addmonth {
		margin: 0 6px;
	}
}


.color-selector-layout {
	font-family: $font-arial;
	padding: 13px 0;
		
	.title {
		margin-bottom: 5px;
	}
}


._container {
	max-width: 1160px;
}


.dropdown {
	padding: 4px 4px;
	border: 1px solid grey;
	border-radius: 3px;
	cursor: pointer;
}


.dropdown option[value="red"] {
  background-color: red;
  color: #fff; }
.dropdown option[value="blue"] {
  background-color: blue;
  color: #fff; }
.dropdown option[value="yellow"] {
  background-color: yellow;
  color: #151515; }
.dropdown option[value="green"] {
  background-color: green;
  color: #fff; }
.dropdown option[value="grey"] {
  background-color: grey;
  color: #fff; }


.header-layout {
	background-color: $color-bg-light;
	color: #1c5b60;

	.wrapper {
		padding: 20px 0 20px 0;
		.logo {
			margin-right: 20px;
			.logotype {
				max-height: 100px;
			}
		}

		.save-social {
			margin-left: auto;
			text-align: center;			
			.savebutton {
				margin-bottom: 9px;
			}
		}
	}

	.title {
		margin: 0;
	}

	.slogan {
		margin: 0;
	}
}


.linkplace {
	background-color: $color-light;
	border: 1px solid #c7c7c7;
	box-shadow: 1px 1px 0px 0px #c7c7c7 inset;
	font-size: 16px;
	font-family: $font-arial;
}


.main-page {
	font-family: $font-main;

	.popup {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 300px;
		transform: translate(-50%, -50%);
	}
}


.popup {
	box-shadow: 0px 5px 40px 10px #c7c7c7;
	background-color: $color-bg-light;
	text-align: center;
	z-index: 501;

	.title {
		font-weight: 100;
		font-size: 25px;
		line-height: 1.80;
		margin-top: 27px;
		margin-bottom: 16px;
	}

	.text {
		font-family: $font-arial;
		font-weight: bold;
		font-size: 16px;
		margin: 0;
	}

	.linkplace {
		margin: 10px 20px;
		padding: 5px 0;
	}

	.savebutton {
		margin: 20px 0 30px 0;
		padding: 5px 40px;
		border-radius: 5px;
		font-size: 20px;
	}
}


.savebutton {
	font-family: $font-arial;
	font-size: 15px;
	background-color: $color-button;
	color: $color-light;
	cursor: pointer;
	border: none;
	border-radius: 18px;
	padding: 5px 9px;
	
	&:hover {
		background-color: $color-button-dark;
	}
}


.section-month {
	margin-right: 31px;
	
	.month-selector {
		text-align: center;
		
		.addmonth {
			display: none;
		}

		.title {
			display: inline-block;
			font-size: 30px;
			margin: 0;			
		}
		&:hover .addmonth {
			display: inline-block;			
		}
	}

	.calendar {
		margin: 10px 0 35px 0;
		font-family: $font-arial;
	}
}


.wrapper {
	display: flex;
	align-items: center;
	margin: 0 auto;
}