$font-main: 'Roboto Condensed', sans-serif;
$font-arial: 'Arial', sans-serif;

$color-bg-light: #fdf0d2;
$color-dark: #4d4b4e;
$color-light: #fff;
$color-calendar-red: #d66a77;
$color-button: #d91e59;
$color-plus: #1a5e68;

$screen-lg: 1200px;
$screen-md: 735px;

@keyframes fade-in {
	0% {
		opacity: 0.01;
	}
	100% {
		opacity: 1;
	}
}

@mixin blured($depth) {
	filter: blur($depth);
	-o-filter: blur($depth);
	-ms-filter: blur($depth);
	-moz-filter: blur($depth);
	-webkit-filter: blur($depth);
}


._blur {
	@include blured(4px);
	transition: all .5s ease-out;
}


._container {
	max-width: 1160px !important;
	margin: 0 auto !important;
}


.active-color-selector {
	@media (max-width: $screen-md) {
		text-align: center;
		margin: 0 auto;
	}	

	.title {
		font-weight: bold;
	}

	.dropdown {
	padding: 4px 4px;
	border: 1px solid grey;
	border-radius: 3px;
	cursor: pointer;
	}

	.dropdown option[value="red"] {
		background-color: red;
		color: $color-light;
	}

	.dropdown option[value="blue"] {
		background-color: blue;
		color: $color-light;
	}

	.dropdown option[value="yellow"] {
		background-color: yellow;
		color: #151515;
	}

	.dropdown option[value="green"] {
		background-color: green;
		color: $color-light;
	}

	.dropdown option[value="grey"] {
		background-color: grey;
		color: $color-light;
	}		
}


.calendars-selector {
	margin-top: 17px;
	@media (max-width: $screen-lg) {
		padding-left: 25px;
		padding-right: 25px;
	}

	.section-month {
		margin: 0 31px 31px 0;
		@media (max-width: $screen-md) {
			margin: 15px;
		}
	}

	.flexwrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.addmonth {
		margin: 0 6px;
	}
}


.color-selector-layout {
	font-family: $font-arial;
	padding: 13px 0;
	@media (max-width: $screen-lg) {
		padding-left: 25px;
		padding-right: 25px;
	}

	.flexwrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.title {
		margin-bottom: 5px;
	}
}


.main-page {
	font-family: $font-main;
	.popup-window {
		width: 300px;
	}

	.-show {
		display: block;
		animation: fade-in .5s ease forwards;
	}

	.-flex {
		display: flex;
		transition: all .5s ease;
	}
}


.month-selector {
	text-align: center;
	.title {
		display: inline-block;
		font-size: 30px;
		margin: 0;
		padding-bottom: 5px;
	}

	.addmonth {
		display: none;
		font-size: 30px;
		color: $color-plus;
		&:hover {
			color: #8dadb0;
			cursor: pointer;
		}
	}

	&:hover .addmonth {
		display: inline-block;
	}
}


.normal-button {
	font-family: $font-arial;
	font-size: 15px;
	background-color: $color-button;
	color: $color-light;
	cursor: pointer;
	border: none;
	border-radius: 18px;
	padding: 5px 9px;
	&:hover {
		background-color: darken($color-button, 7);
	}
}


.popup-overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background: rgba(255,255,255, 0.4);
	z-index: 500;
	transition: all .5s ease-out;
}


.popup-window {
	display: none;
	box-shadow: 0px 5px 40px 10px #c7c7c7;
	background-color: $color-bg-light;
	text-align: center;
	border-radius: 3px;
	z-index: 501;
	opacity: .5;
	.title {
		font-weight: 100;
		font-size: 25px;
		line-height: 1.80;
		margin-top: 27px;
		margin-bottom: 16px;
	}

	.text {
		font-family: $font-arial;
		font-weight: bold;
		font-size: 16px;
		margin: 0;
	}

	.linkplace {
		margin: 10px 20px;
		padding: 5px 0;
		background-color: $color-light;
		border: 1px solid #c7c7c7;
		box-shadow: 0px 1px 0px 0px #c7c7c7 inset;
		font-size: 16px;
		font-family: $font-arial;
	}

	.normal-button {
		margin: 20px 0 30px 0;
		padding: 5px 40px;
		border-radius: 5px;
		font-size: 20px;
	}
}


.section-month {
	.calendar {
		border: 1px solid #385251;
		border-radius: 10px;
		text-align: center;
		padding: 10px 10px 14px 10px;
		font-family: $font-arial;
		.nextmonth {
			color: lighten($color-dark, 40);
		}
	}

	.daysofweek {
		color: lighten($color-dark, 40);
		&:last-child {
			color: $color-calendar-red;
		}
	}

	.days {
		color: $color-dark;
		.day {
			cursor: pointer;
			padding: 13px 7px;
			&:hover {
				background-color: $color-bg-light;
			}
			&:last-child {
			color: $color-calendar-red;
			}
		}
	}
}


.site-header {
	background-color: $color-bg-light;
	color: #1c5b60;
	@media (max-width: $screen-lg) {
		padding-left: 25px;
		padding-right: 25px;
	}

	.flexwrapper {
		display: flex;
		align-items: center;
		margin: 0 auto;
		padding: 20px 0 20px 0;
		@media (max-width: $screen-md) {
			flex-direction: column;
		}

		.logo {
			margin-right: 20px;
			@media (max-width: $screen-md) {
				height: 60px;
				margin-right: 0;
			}

			.logotype {
				height: 100px;
				@media (max-width: $screen-md) {
					height: 100%;
				}
			}
		}

		.share-project {
			margin-left: auto;
			text-align: center;
			height: 55px;
			@media (max-width: $screen-md) {
				margin: 25px 0 0 0;
			}

			.normal-button {
				margin-bottom: 9px;
			}
		}
	}

	.title {
		margin-top: 20px;
		margin-bottom: 0;
		@media (max-width: $screen-md) {
			text-align: center;
		}
	}

	.slogan {
		margin-top: 0;
		margin-bottom: 20px;
		@media (max-width: $screen-md) {
			text-align: center;
		}
	}
}