@keyframes fade-in {
  0% {
    opacity: 0.01; }
  100% {
    opacity: 1; } }
.addmonth {
  font-size: 30px;
  color: #1a5e68; }
  .addmonth:hover {
    color: #8dadb0;
    cursor: pointer; }

._blur {
  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px);
  transition: all .5s ease-out; }

.calendar {
  border: 1px solid #385251;
  border-radius: 10px;
  text-align: center;
  padding: 2px 10px 14px 10px; }
  .calendar .daysofweek {
    color: #b3b1b4; }
    .calendar .daysofweek :last-child {
      color: #d66a77; }
  .calendar .days {
    color: #4d4b4e; }
    .calendar .days :last-child {
      color: #d66a77; }
    .calendar .days :hover {
      background-color: #fdf0d2; }
    .calendar .days .day {
      cursor: pointer; }
    .calendar .days .nextmonth {
      color: #b3b1b4; }
  .calendar .day {
    padding: 13px 7px 13px 7px; }

.calendars-selector {
  margin-top: 17px; }
  .calendars-selector .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .calendars-selector .addmonth {
    margin: 0 6px; }

.color-selector-layout {
  font-family: "Arial", sans-serif;
  padding: 13px 0; }
  .color-selector-layout .title {
    margin-bottom: 5px; }

._container {
  max-width: 1160px; }

.dropdown {
  padding: 4px 4px;
  border: 1px solid grey;
  border-radius: 3px;
  cursor: pointer; }

.dropdown option[value="red"] {
  background-color: red;
  color: #fff; }

.dropdown option[value="blue"] {
  background-color: blue;
  color: #fff; }

.dropdown option[value="yellow"] {
  background-color: yellow;
  color: #151515; }

.dropdown option[value="green"] {
  background-color: green;
  color: #fff; }

.dropdown option[value="grey"] {
  background-color: grey;
  color: #fff; }

.site-header {
  background-color: #fdf0d2;
  color: #1c5b60; }
  .site-header .wrapper {
    padding: 20px 0 20px 0; }
    .site-header .wrapper .logo {
      margin-right: 20px; }
      .site-header .wrapper .logo .logotype {
        max-height: 100px; }
    .site-header .wrapper .share-project {
      margin-left: auto;
      text-align: center; }
      .site-header .wrapper .share-project .normal-button {
        margin-bottom: 9px; }
  .site-header .title {
    margin-top: 20px;
    margin-bottom: 0; }
  .site-header .slogan {
    margin-top: 0;
    margin-bottom: 20px; }

.linkplace {
  background-color: #fff;
  border: 1px solid #c7c7c7;
  box-shadow: 0px 1px 0px 0px #c7c7c7 inset;
  font-size: 16px;
  font-family: "Arial", sans-serif; }

.main-page {
  font-family: "Roboto Condensed", sans-serif; }
  .main-page .popup-window {
    width: 300px; }
  .main-page .-show {
    display: block;
    animation: fade-in .5s ease forwards; }
  .main-page .-flex {
    display: flex;
    transition: all .5s ease; }

.popup-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4);
  z-index: 500;
  transition: all .5s ease-out; }

.popup-window {
  display: none;
  box-shadow: 0px 5px 40px 10px #c7c7c7;
  background-color: #fdf0d2;
  text-align: center;
  border-radius: 3px;
  z-index: 501;
  opacity: .5; }
  .popup-window .title {
    font-weight: 100;
    font-size: 25px;
    line-height: 1.80;
    margin-top: 27px;
    margin-bottom: 16px; }
  .popup-window .text {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 0; }
  .popup-window .linkplace {
    margin: 10px 20px;
    padding: 5px 0; }
  .popup-window .normal-button {
    margin: 20px 0 30px 0;
    padding: 5px 40px;
    border-radius: 5px;
    font-size: 20px; }

.normal-button {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  background-color: #d91e59;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 18px;
  padding: 5px 9px; }
  .normal-button:hover {
    background-color: #ba1a4c; }

.month-selector {
  text-align: center; }

.section-month {
  margin-right: 31px; }
  .section-month .addmonth {
    display: none; }
  .section-month .title {
    display: inline-block;
    font-size: 30px;
    margin: 0; }
  .section-month:hover .addmonth {
    display: inline-block; }
  .section-month .calendar {
    margin: 10px 0 35px 0;
    font-family: "Arial", sans-serif; }

.wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
