$font-main: 'Roboto Condensed', sans-serif;
$font-arial: 'Arial', sans-serif;

$color-bg-light: #fdf0d2;
$color-dark: #4d4b4e;
$color-light: #fff;
$color-calendar-red: #d66a77;
$color-button: #d91e59;
$color-plus: #1a5e68;

@keyframes fade-in {
	0% {
		opacity: 0.01;
	}
	100% {
		opacity: 1;
	}
}


.addmonth {
	font-size: 30px;
	color: $color-plus;
	&:hover {
		color: #8dadb0;
		cursor: pointer;
	}
}


._blur {
	filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	-moz-filter: blur(4px);
	-webkit-filter: blur(4px);
	transition: all .5s ease-out;
}


.calendar {
	border: 1px solid #385251;
	border-radius: 10px;
	text-align: center;
	padding: 2px 10px 14px 10px;
	
	.daysofweek {
		color: lighten($color-dark, 40);

		& :last-child {
			color: $color-calendar-red;
		}
	}

	.days {
		color: $color-dark;

		& :last-child {
			color: $color-calendar-red;
		}
	
		& :hover {
			background-color: $color-bg-light;
		}

		.day {
			cursor: pointer;
		}

		.nextmonth {
			color: lighten($color-dark, 40);
		}
	}

	.day {
		padding: 13px 7px 13px 7px;		
	}
}


.calendars-selector {
	margin-top: 17px;
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.addmonth {
		margin: 0 6px;
	}
}


.color-selector-layout {
	font-family: $font-arial;
	padding: 13px 0;
		
	.title {
		margin-bottom: 5px;
	}
}


._container {
	max-width: 1160px;
}


.dropdown {
	padding: 4px 4px;
	border: 1px solid grey;
	border-radius: 3px;
	cursor: pointer;
}


.dropdown option[value="red"] {
  background-color: red;
  color: #fff; }
.dropdown option[value="blue"] {
  background-color: blue;
  color: #fff; }
.dropdown option[value="yellow"] {
  background-color: yellow;
  color: #151515; }
.dropdown option[value="green"] {
  background-color: green;
  color: #fff; }
.dropdown option[value="grey"] {
  background-color: grey;
  color: #fff; }


.site-header {
	background-color: $color-bg-light;
	color: #1c5b60;

	.wrapper {
		padding: 20px 0 20px 0;
		.logo {
			margin-right: 20px;
			.logotype {
				max-height: 100px;
			}
		}

		.share-project {
			margin-left: auto;
			text-align: center;			
			.normal-button {
				margin-bottom: 9px;
			}
		}
	}

	.title {
		margin-top: 20px;
		margin-bottom: 0;
	}

	.slogan {
		margin-top: 0;
		margin-bottom: 20px;
	}
}


.linkplace {
	background-color: $color-light;
	border: 1px solid #c7c7c7;
	box-shadow: 0px 1px 0px 0px #c7c7c7 inset;
	font-size: 16px;
	font-family: $font-arial;
}


.main-page {
	font-family: $font-main;

	.popup-window {
		width: 300px;
	}

	.-show {
		display: block;
		animation: fade-in .5s ease forwards;
	}

	.-flex {
		display: flex;
		transition: all .5s ease;
	}
}


.popup-overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background: rgba(255,255,255, 0.4);
	z-index: 500;
	transition: all .5s ease-out;
}


.popup-window {
	display: none;
	box-shadow: 0px 5px 40px 10px #c7c7c7;
	background-color: $color-bg-light;
	text-align: center;
	border-radius: 3px;
	z-index: 501;
	opacity: .5;

	.title {
		font-weight: 100;
		font-size: 25px;
		line-height: 1.80;
		margin-top: 27px;
		margin-bottom: 16px;
	}

	.text {
		font-family: $font-arial;
		font-weight: bold;
		font-size: 16px;
		margin: 0;
	}

	.linkplace {
		margin: 10px 20px;
		padding: 5px 0;
	}

	.normal-button {
		margin: 20px 0 30px 0;
		padding: 5px 40px;
		border-radius: 5px;
		font-size: 20px;
	}
}


.normal-button {
	font-family: $font-arial;
	font-size: 15px;
	background-color: $color-button;
	color: $color-light;
	cursor: pointer;
	border: none;
	border-radius: 18px;
	padding: 5px 9px;
	
	&:hover {
		background-color: darken($color-button, 7);
	}
}


.month-selector {
	text-align: center;
}


.section-month {
	margin-right: 31px;
	
	.addmonth {
		display: none;
	}

	.title {
		display: inline-block;
		font-size: 30px;
		margin: 0;			
	}
		
	&:hover .addmonth {
		display: inline-block;			
	}

	.calendar {
		margin: 10px 0 35px 0;
		font-family: $font-arial;
	}
}


.wrapper {
	display: flex;
	align-items: center;
	margin: 0 auto;
}